{% extends 'base.html' %}
{% block title %}Data | {{ block.super   }}{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}


<table class="table table-bordered table-striped">
    <thead>
        <tr align="center">
            <td rowspan="3" class="text-nowrap">ประทับเวลา</td>
            <td rowspan="3" class="text-nowrap">แหล่งท่องเที่ยว</td>
            <td rowspan="3" class="text-nowrap">ผู้ประเมิน</td>
            <td rowspan="3" class="text-nowrap">เพศ</td>
            <td rowspan="3" class="text-nowrap">อายุ</td>
            <td rowspan="3" class="text-nowrap">รายได้ต่อเดือนของท่าน</td>
            <td rowspan="3" class="text-nowrap">ระดับการศึกษา</td>
            <td rowspan="3" class="text-nowrap">อาชีพหลัก</td>
            <td rowspan="3" class="text-nowrap">สถานภาพสมรส</td>
            <td rowspan="3" class="text-nowrap">ภูมิลำเนา</td>
            <td rowspan="3" class="text-nowrap">กิจกรรมท่องเที่ยวแบบไหนที่คุณชอบมากที่สุด</td>
            <td colspan="45">ประเภทที่ 1 แหล่งท่องเที่ยวที่นำเสนอประสบการณ์ (Experience)</td>
            <td colspan="13">ประเภทที่ 2 การนำเที่ยวมีความพิเศษเฉพาะตัว (Exclusive)</td>
            <td colspan="8">ประเภทที่ 3 การนำเที่ยวที่ดำเนินงานโดยผู้ที่มีความเชี่ยวชาญพิเศษ (Expertise)</td>
            <td colspan="52">ประเภทที่ 4 แหล่งท่องเที่ยวที่มีมาตรฐานที่ได้รับการยอมรับ (Exceptional)</td>
            <td colspan="19">ประเภทที่ 5 แหล่งท่องเที่ยวที่มีความยอดเยี่ยม (Excellence)</td>
            <td colspan="5">ข้อเสนอแนะเพิ่มเติมเกี่ยวกับการพัฒนาตัวชี้วัดแหล่งท่องเที่ยวคุณค่าสูง</td>
        </tr>
        <tr align="center">
            <td colspan="20">ด้านที่ 1.1 เสน่ห์ดึงดูดใจ</td>
            <td colspan="11">ด้านที่ 1.2 คุณค่าความแปลกใหม่ของแหล่งท่องเที่ยว</td>
            <td colspan="4">ด้านที่ 1.3 ความเป็นมิตรของคนในพื้นที่</td>
            <td colspan="4">ด้านที่ 1.4 มนต์ขลังน่าค้นหา</td>
            <td colspan="2">ด้านที่ 1.5 มีความหลากหลายของศิลปวัฒนธรรมและสถาปัตยกรรม</td>
            <td colspan="4">ด้านที่ 1.6 เน้นคุณค่าของการท่องเที่ยว</td>
            <td colspan="6">ด้านที่ 2.1 ความเป็นเอกลักษณ์เฉพาะของการนำเที่ยว</td>
            <td colspan="7">ด้านที่ 2.2 ความเป็นส่วนตัวในการท่องเที่ยว</td>
            <td colspan="5">ด้านที่ 3.1 ความรู้และความเชี่ยวชาญ</td>
            <td colspan="3">ด้านที่ 3.2 บทบาทความรับผิดชอบ ความรู้และจรรยาบรรณของมัคคุเทศก์ รวมทั้งการส่งเสริมการอนุรักษ์</td>
            <td colspan="17">ด้านที่ 4.1 การจัดการด้านความปลอดภัยต่อชีวิต ทรัพย์สิน และสุขภาพของนักท่องเที่ยว ตลอดจนผู้เกี่ยวข้อง</td>
            <td colspan="11">ด้านที่ 4.2 ด้านการบริหารจัดการ</td>
            <td colspan="10">ด้านที่ 4.3 การบริการนักท่องเที่ยว</td>
            <td colspan="2">ด้านที่ 4.4 การบริการข้อมูลข่าวสารนักท่องเที่ยว</td>
            <td colspan="6">ด้านที่ 4.5 สิ่งอำนวยความสะดวกขั้นพื้นฐาน</td>
            <td colspan="6">ด้านที่ 4.6 การคมนาคมขนส่ง</td>
            <td colspan="4">ด้านที่ 5.1 สภาพแวดล้อมของแหล่งท่องเที่ยว</td>
            <td colspan="4">ด้านที่ 5.2 การบริการของเจ้าหน้าที่</td>
            <td colspan="7">ด้านที่ 5.3 บทบาทในการอนุรักษ์สิ่งแวดล้อมของแหล่งท่องเที่ยวในการให้การศึกษา และกิจกรรมการอนุรักษ์</td>
            <td colspan="4">ด้านที่ 5.4 การส่งเสริมศิลปวัฒนธรรม วิถีชีวิตและเอกลักษณ์ของท้องถิ่นรวมทั้งการสนับสนุนเศรษฐกิจท้องถิ่น</td>
            <td rowspan="2" class="text-nowrap">1. แหล่งท่องเที่ยวที่นำเสนอประสบการณ์ (Experience)</td>
            <td rowspan="2" class="text-nowrap">2. ความพิเศษเฉพาะตัวของแหล่งท่องเที่ยว (Exclusive)</td>
            <td rowspan="2" class="text-nowrap">3. แหล่งท่องเที่ยวที่ดำเนินงานโดยผู้ที่มีความเชี่ยวชาญพิเศษ (Expertise)</td>
            <td rowspan="2" class="text-nowrap">4. แหล่งท่องเที่ยวที่มีมาตรฐานที่ได้รับการยอมรับ (Exceptional)</td>
            <td rowspan="2" class="text-nowrap">5. แหล่งท่องเที่ยวที่มีความยอดเยี่ยม (Excellence)</td>
        </tr>
        <tr align="center">
            <td>1.1.1 รายการนำเที่ยวที่มีความสร้างสรรค์หรือมีความคิดริเริ่ม</td>
            <td>1.1.2 มีแผนกำหนดการเดินทางอย่างเหมาะสม โดยมีรายละเอียดที่ชัดเจน และสามารถทำได้จริง</td>
            <td>1.1.3 ความเหมาะสมด้านเวลาและระบุประเภทของพาหนะ โดยมีการเชื่อมโยงแหล่งท่องเที่ยวเข้ากับกิจกรรมต่างๆ ได้อย่างเหมาะสม</td>
            <td>1.1.4 รายละเอียดของรายการนำเที่ยวจะต้องมีความเหมาะสมกับราคาที่นำเสนอ แก่นักท่องเที่ยว</td>
            <td>1.1.5 กิจกรรมที่นำเสนอจะต้องเป็นกิจกรรมที่มีความเหมาะสมต่อกลุ่มเป้าหมาย ทั้งด้านปริมาณและคุณภาพ</td>
            <td>1.1.6 คุณภาพชีวิตของคนในพื้นที่ท่องเที่ยว เช่น สุขภาพ เทคโนโลยี การกินดี อยู่ดี</td>
            <td>1.1.7 การนำเสนอภาพลักษณ์ของแหล่งท่องเที่ยวที่สอดคล้องกับความเป็นจริง</td>
            <td>1.1.8 มีการบริการรองรับนักท่องเที่ยวที่เน้นคุณค่า เช่น ทางจิตใจ ประสบการณ์ เป็นต้น</td>
            <td>1.1.9 รายการนำเที่ยวที่จัดมีความน่าสนใจหรือน่าค้นหาหรือมีความลี้ลับ</td>
            <td>1.1.10 ความคาดหวังที่จะได้รับความรู้สึกดีๆ กลับมาหลังจากท่องเที่ยว</td>
            <td>1.1.11 แหล่งท่องเที่ยวที่จัดในรายการนำเที่ยวมีความน่าประทับใจ</td>
            <td>1.1.12 มีสิ่งดึงดูดใจให้อยากกลับไปร่วมในการท่องเที่ยวตามรายการนำเที่ยวอีก</td>
            <td>1.1.13 ตรงกับไลฟ์สไตล์ของนักท่องเที่ยวที่เน้นคุณค่า</td>
            <td>1.1.14 ให้ความรู้สึกผ่อนคลายเหมือนได้มาพักผ่อน</td>
            <td>1.1.15 ความหลากหลายทางวัฒนธรรมและเชื้อชาติของสมาชิกร่วมกิจกรรมท่องเที่ยว</td>
            <td>1.1.16 รายการนำเที่ยวมีสิ่งที่น่าสนใจหรือดึงดูดใจที่หลากหลาย</td>
            <td>1.1.17 การจัดกิจกรรมการท่องเที่ยวมีกิจกรรมภาคกลางคืน</td>
            <td>1.1.18 มีกิจกรรมเชิงสร้างสรรค์ที่เปิดโอกาสให้นักท่องเที่ยวได้มีส่วนร่วมลงมือทำร่วมกับชุมชน เพื่อเป็นการเชิดชูเอกลักษณ์หรืออัตลักษณ์ของสังคมท้องถิ่น ซึ่งนักท่องเที่ยวจะได้รับประสบการณ์ที่แปลกใหม่และน่าประทับใจ</td>
            <td>1.1.19 สถานที่ท่องเที่ยว โรงแรม กิจกรรมต่าง ๆ มีเรื่องราวที่น่าสนใจน่ามาเยือน</td>
            <td>1.1.20 สถานที่ท่องเที่ยวมีความเป็นส่วนตัวสูงสุด ไม่พลุกพล่านจนเกินไป</td>
            <td>1.2.1 มอบประสบการณ์ท่องเที่ยวที่ตรงกับความต้องการ</td>
            <td>1.2.2 กิจกรรมการท่องเที่ยวมีลักษณะสบาย เพิ่มพลังชีวิต ตามสโลแกน Work hard, Play hardest</td>
            <td>1.2.3 มอบสิ่งใหม่ ๆ ที่ล้ำค่า สร้างความประทับใจ นักท่องเที่ยวกลุ่มนี้ไม่ได้มองหาโรงแรม 5 ดาว หรือการท่องเที่ยวที่หรูหราเท่านั้น แต่ต้องการประสบการณ์ใหม่ ๆ ที่ยอดเยี่ยม ชนิดที่เงินไม่สามารถซื้อได้</td>
            <td>1.2.4 นักท่องเที่ยวสามารถสัมผัสวิถีชีวิตแบบเรียบง่ายของชุมชนและท้องถิ่น</td>
            <td>1.2.5 แหล่งท่องเที่ยวมีธรรมชาติที่สวยงามแบบไม่มีความเจริญจากภายนอกเข้ามารบกวน</td>
            <td>1.2.6 วิถีชีวิตผู้คนที่ยังคงรักษาขนบธรรมเนียมประเพณีและวัฒนธรรมแบบดั้งเดิมไว้ได้เป็นอย่างดีโดยไม่ได้รับการรบกวนจากความเจริญภายนอก</td>
            <td>1.2.7 กิจกรรมการท่องเที่ยวทำให้นักท่องเที่ยวได้รับประสบการณ์ที่แปลกใหม่</td>
            <td>1.2.8 เป็นแหล่งท่องเที่ยวที่ให้ประสบการณ์ที่แปลกใหม่</td>
            <td>1.2.9 สถานที่ท่องเที่ยวมีสิ่งที่น่าสนใจหรือดึงดูดใจที่หลากหลาย</td>
            <td>1.2.10 มีการนำเสนอภาพลักษณ์แหล่งท่องเที่ยวที่สอดคล้องกับความเป็นจริง</td>
            <td>1.2.11 มีการบริการรองรับนักท่องเที่ยวที่เน้นคุณค่า เช่น ทางจิตใจ ประสบการณ์ เป็นต้น</td>
            <td>1.3.1 ผู้คนในพื้นที่มีความยิ้มแย้มแจ่มใส</td>
            <td>1.3.2 ความเป็นมิตรของเจ้าหน้าที่ที่ดูแลถานที่</td>
            <td>1.3.3 ผู้คนในพื้นที่ให้ความช่วยเหลือเมื่อนักท่องเที่ยวต้องการความเชี่ยวเหลือ</td>
            <td>1.3.4 ขายสินค้าให้นักท่องเที่ยวในราคามาตรฐาน เป็นธรรม</td>
            <td>1.4.1 เป็นสถานที่เหมือนมีพลังดึงดูดใจ</td>
            <td>1.4.2 เป็นสถานที่ที่มีเก่าแก่มีประวัติความเป็นมาอันยาวนาน</td>
            <td>1.4.3 เป็นแหล่งท่องเที่ยวที่มีความน่าสนใจ น่าค้นหาหรือมีความลี้ลับ</td>
            <td>1.4.4 ธรรมชาติเต็มไปด้วยมนต์ขลัง ตรึงใจ</td>
            <td>1.5.1 แหล่งท่องเที่ยวมีความหลากหลายทางด้านวัฒนธรรมและเชื้อชาติ</td>
            <td>1.5.2 มีความหลากหลายของสถาปัตยกรรมและศิลปวัฒนธรรม</td>
            <td>1.6.1 กิจกรรมการท่องเที่ยวไม่เร่งรีบ เน้นการใช้ช่วงเวลาให้มีค่ามากที่สุด</td>
            <td>1.6.2 ให้ความรู้สึกผ่อนคลายเหมือนได้มาพักผ่อน</td>
            <td>1.6.3 มีความคุ้มค่าต่อการตัดสินใจไปท่องเที่ยวเมื่อเทียบกับค่าใช้จ่าย</td>
            <td>1.6.4 เป็สถานที่ท่องเที่ยวที่เพิ่มพลังชีวิต</td>
            <td>2.1.1 กิจกรรมการท่องเที่ยวตรงกับความต้องการของนักท่องเที่ยว</td>
            <td>2.1.2 มีกิจกรรมนำเที่ยวตามเทศกาลและประเพณีของท้องถิ่น</td>
            <td>2.1.3 ความโดดเด่นเป็นเอกลักษณ์เฉพาะตัวของกิจกรรมท่องเที่ยว</td>
            <td>2.1.4 บริษัทนำเที่ยวมีแพ็คเก็จรายการนำเที่ยวที่ขึ้นชื่อและมีชื่อเสียง</td>
            <td>2.1.5 มีกิจกรรมสันทนาการและความบันเทิง</td>
            <td>2.1.6 คุณภาพของแหล่งท่องเที่ยวตามโปรแกรมการท่องเที่ยว</td>
            <td>2.2.1 มีความเป็นส่วนตัวสูงสุด ไม่พลุกพล่าน</td>
            <td>2.2.2 ตรงกับไลฟ์สไตล์ของนักท่องเที่ยวที่เน้นคุณค่า</td>
            <td>2.2.3 ผู้จัดการนำเที่ยวมีการสอบถามความต้องการของนักท่องเที่ยวในการเลือกแหล่งท่องเที่ยว</td>
            <td>2.2.4 นักท่องเที่ยวสามารถวางแผนหรือออกแบบโปรแกรมการท่องเที่ยวด้วยตนเอง</td>
            <td>2.2.5 ผู้จัดการนำเที่ยวมีการนำเสนอทางเลือกในการจัดโปรแกรมการท่องเที่ยวหรือกิจกรรมการท่องเที่ยว</td>
            <td>2.2.6 มีทางเลือกหลากหลายของโปรแกรมท่องเที่ยวแบบส่วนตัว เลือกได้ตามความชอบ</td>
            <td>2.2.7 ตอบสนองความต้องการที่มีลักษณะเฉพาะ เช่น พาชมสถานที่เป็นการเฉพาะกลุ่ม</td>
            <td>3.1.1 มัคคุเทศก์หรือวิทยากรมีสามารถให้ความรู้ทั้งเชิงลึกและเชิงกว้างได้อย่างชัดเจน</td>
            <td>3.1.2 เจ้าหน้าที่มีความรอบรู้ในข้อมูลรายละเอียดสินค้าและบริการ</td>
            <td>3.1.3 เจ้าหน้าที่สามารถแก้ปัญหาต่างๆ ได้อย่างรวดเร็วและมีประสิทธิภาพ</td>
            <td>3.1.4 เจ้าหน้าที่มีความเข้าใจอย่างลึกซึ้งต่อลูกค้า เช่น รู้ว่าลูกค้าแพ้อาหารอะไร ชอบการท่องเที่ยวลักษณะแบบไหน</td>
            <td>3.1.5 การนำเทคโนโลยีใหม่ๆ มาใช้ในการจัดการนำเที่ยวที่ก่อให้เกิดความทันสมัย</td>
            <td>3.2.1 มัคคุเทศก์มีจำนวนเพียงพอ สอดคล้องและเหมาะสมกับรายการนำเที่ยว</td>
            <td>3.2.2 มัคคุเทศก์มีความรู้และประสบการณ์ที่เหมาะสมกับรายการนำเที่ยวนั้นๆ</td>
            <td>3.2.3 ความสามารถในการนำเสนอความรู้ด้านการอนุรักษ์สิ่งแวดล้อม กับรายการนำเที่ยวได้อย่างกลมกลืน</td>
            <td>4.1.1 มีมาตรการและระบบความปลอดภัยในแผนการท่องเที่ยว</td>
            <td>4.1.2 มีการบริการที่มีคุณภาพและได้มาตรฐาน โดยคำนึงถึงความปลอดภัยของนักท่องเที่ยวเป็นสำคัญ ทั้งในเรื่องของยานพาหนะ ที่พัก อาหาร กิจกรรมท่องเที่ยว รวมทั้งอุปกรณ์ต่างๆ ในการทำกิจกรรม</td>
            <td>4.1.3 พาหนะที่ใช้เดินทางจะต้องมีความสะอาดและสภาพที่สมบูรณ์ รวมทั้งมีอุปกรณ์ การปฐมพยาบาลและอุปกรณ์ด้านความปลอดภัยที่พร้อมใช้งานอยู่ตลอดเวลา</td>
            <td>4.1.4 มีการให้ความรู้ ความเข้าใจและฝึกอบรมให้บุคลากรและมัคคุเทศก์มีความรู้ ในเรื่องงานแก้ไขปัญหาการเกิดอุบัติภัย</td>
            <td>4.1.5 มีอุปกรณ์ด้านความปลอดภัยและมีอุปกรณ์ปฐมพยาบาลพร้อม</td>
            <td>4.1.6 มีมาตราการในการป้องกันอาชญากรรมและมิจฉาชีพของแหล่งท่องเที่ยว</td>
            <td>4.1.7 กรณีเดินทางทางน้ำท่าเทียบเรือมีสภาพสมบูรณ์และปลอดภัย (หากไม่มีท่าเทียบเรือให้ทำข้ออื่นๆ ต่อไป)</td>
            <td>4.1.8 แหล่งท่องเที่ยวมีมลพิษทางเสียง (เสียงเครื่องยนต์และการก่อสร้าง)</td>
            <td>4.1.9 แหล่งท่องเที่ยวมีมลพิษทางอากาศ</td>
            <td>4.1.10 ความปลอดภัยในการเดินทางมาท่องเที่ยว</td>
            <td>4.1.11 แหล่งท่องเที่ยวมีมาตรฐานคุณภาพและความปลอดภัยเป็นที่ยอมรับ</td>
            <td>4.1.12 การป้องกันภัยพิบัติทางธรรมชาติ</td>
            <td>4.1.13 การป้องกันอาชญากรรมและมิจฉาชีพ</td>
            <td>4.1.14 มาตรฐานคุณภาพและความปลอดภัยของการจัดการท่องเที่ยว</td>
            <td>4.1.15 คุณภาพของยานพาหนะที่ให้บริการท่องเที่ยว</td>
            <td>4.1.16 สถานการณ์ความวุ่นวายทางการเมืองหรือความไม่สงบในพื้นที่</td>
            <td>4.1.17 การให้บริการด้านการแพทย์และสุขภาพ</td>
            <td>4.2.1 ความเป็นมิตรของเจ้าหน้าที่</td>
            <td>4.2.2 ความประทับใจกับการใช้บริการนำเที่ยว</td>
            <td>4.2.3 ความเป็นต้นแบบผู้นำในการจัดการนำเที่ยว</td>
            <td>4.2.4 วิสัยทัศน์ของผู้บริหารในการดูแลที่พัก</td>
            <td>4.2.5 การนำเทคโนโลยีใหม่ๆ มาใช้ในการจัดการนำเที่ยวที่ก่อให้เกิดความทันสมัย</td>
            <td>4.2.6 ความมั่นคงทางการเงินของผู้จัดการนำเที่ยว</td>
            <td>4.2.7 งบประมาณในการพัฒนาโปรแกรมการท่องเที่ยว</td>
            <td>4.2.8 ความสม่ำเสมอในการพัฒนารายการนำเที่ยวให้มีรูปแบบใหม่ๆ</td>
            <td>4.2.9 ความรับผิดชอบต่อชุมชนในพื้นที่บริเวณท่องเที่ยว</td>
            <td>4.2.10 มีกลยุทธ์การสื่อสารที่สร้างสรรค์</td>
            <td>4.2.11 ระบบการบริหารจัดการของการนำเที่ยว</td>
            <td>4.3.1 บริการจะต้องสะดวกสบาย ไม่เร่งรีบ เน้นการใช้ช่วงเวลาให้มีค่ามากที่สุด</td>
            <td>4.3.2 ความเป็นมิตรของผู้ดูแลการนำเที่ยว</td>
            <td>4.3.3 การดูแลเอาใจใส่นักท่องเที่ยวของเจ้าหน้าที่ภาครัฐ เช่น ตำรวจท่องเที่ยว เจ้าหน้าที่อุทยานฯ</td>
            <td>4.3.4 เจ้าหน้าที่ทัวร์สามารถสื่อสารภาษาอังกฤษหรือภาษาอี่นๆ ได้</td>
            <td>4.3.5 ความ *สะดวก* ในการหาของรับประทานระหว่างการจัดการนำเที่ยว</td>
            <td>4.3.6 มีความ *หลากหลาย* ของร้านอาหารและเครื่องดื่มในระหว่างท่องเที่ยว</td>
            <td>4.3.7 อาหารมีรสชาติอร่อยและมีคุณภาพดีเยี่ยม</td>
            <td>4.3.8 การบริการสำหรับบุคคลพิเศษ</td>
            <td>4.3.9 มีคู่มือประกอบการท่องเที่ยวทั้งภาษาไทยและภาษาอื่น ๆ เช่น ภาษาจีน ภาษาอังกฤษ</td>
            <td>4.3.10 กิจกรรมท่องเที่ยวมีความคุ้มค่าเมื่อเทียบกับค่าใช้จ่าย</td>
            <td>4.4.1 การให้ข้อมูลและข้อปฏิบัติในสถานที่ต่างๆ อย่างครบถ้วนแก่นักท่องเที่ยว</td>
            <td>4.4.2 การให้ข้อมูลสินค้าหรือบริการที่ตรงกับสภาพความเป็นจริงของทัวร์</td>
            <td>4.5.1 มีบริการห้องน้ำสาธารณะและถูกสุขอนามัย</td>
            <td>4.5.2 ระบบสาธารณูปโภค</td>
            <td>4.5.3 การเข้าถึงระบบไฟฟ้า</td>
            <td>4.5.4 การเข้าถึงระบบประปา</td>
            <td>4.5.5 การเข้าถึงของสัญญาณโทรศัพท์มือถือในแต่ละพื้นที่</td>
            <td>4.5.6 สภาพของถนน</td>
            <td>4.6.1 สภาพของถนน</td>
            <td>4.6.2 การบริการของรถรับส่งแท็กซี่</td>
            <td>4.6.3 เป็นจุดเชื่อมต่อไปยังแหล่งท่องเที่ยวอื่นๆ ได้สะดวก</td>
            <td>4.6.4 ความสะดวกของการเดินทางด้วยระบบขนส่งมวลชน</td>
            <td>4.6.5 การจัดการจราจรบริเวณสถานที่ท่องเที่ยว</td>
            <td>4.6.6 ท่าเทียบเรือ (หากไม่มีให้ข้ามไปทำข้ออื่นต่อไป)</td>
            <td>5.1.1 สภาพอากาศของแหล่งท่องเที่ยวมีความยอดเยี่ยม</td>
            <td>5.1.2 ความสวยงามของทัศนียภาพ</td>
            <td>5.1.3 สภาพแวดล้อมสะอาด เงียบสงบ</td>
            <td>5.1.4 สถาปัตยกรรมของแหล่งท่องเที่ยวมีความน่าประทับใจ</td>
            <td>5.2.1 พนักงานให้บริการอย่างละเอียด ครบถ้วน น่าประทับใจ</td>
            <td>5.2.2 พนักงานมีความน่าเชื่อถือในการให้บริการ</td>
            <td>5.2.3 พนักงานเป็นมืออาชีพในการบริการ</td>
            <td>5.2.4 มีการบริการที่ดีและคุ้มค่า</td>
            <td>5.3.1 มีการให้ความรู้ ความเข้าใจเรื่องสิ่งแวดล้อม</td>
            <td>5.3.2 กิจกรรมที่ส่งเสริมให้นักท่องเที่ยวและประชาชนมีความตระหนัก และมีส่วนร่วมในการอนุรักษ์สิ่งแวดล้อมและวัฒนธรรม</td>
            <td>5.3.3 รายการนนำเที่ยวที่จัดขึ้นจะต้องสอดคล้องหรือไม่ขัดแย้งกับหลักและวิธีปฏิบัติ ของการอนุรักษ์สิ่งแวดล้อม</td>
            <td>5.3.4 การนำเที่ยวสนับสนุนที่พักและอาหารที่ไม่ทำลายสิ่งแวดล้อม</td>
            <td>5.3.5 ส่งเสริมผลิตภัณฑ์หรือของที่ระลึกที่เป็นมิตรต่อสิ่งแวดล้อม</td>
            <td>5.3.6 การอนุรักษ์สิ่งแวดล้อมและพื้นที่แหล่งท่องเที่ยว</td>
            <td>5.3.7 ผู้จัดนำเที่ยวมีการใช้ทรัพยากรทางธรรมชาติอย่างคุ้มค่า</td>
            <td>5.4.1 มีกิจกรรมที่แสดงให้เห็นถึงความสำคัญทางด้านประวัติศาสตร์ ศิลปวัฒนธรรม วิถีชีวิต และภูมิปัญญาท้องถิ่น</td>
            <td>5.4.2 มีกิจกรรมที่ส่งเสริมเอกลักษณ์ท้องถิ่น เพื่อก่อให้เกิดความรักและความภาคภูมิใจ และกระตุ้นให้ประชาชนช่วยกันอนุรักษ์คุณค่าของชุมชนของตนในทิศทางที่ยั่งยืน ตามหลักปรัชญาเศรษฐกิจพอเพียง</td>
            <td>5.4.3 มีการจัดการให้ประชาชนในท้องถิ่นมีส่วนร่วมในการนำเที่ยว การฟื้นฟู รวมถึงการอนุรักษ์ศิลปวัฒนธรรมและสิ่งแวดล้อม</td>
            <td>5.4.4 การสนับสนุนการดำเนินงานของท้องถิ่น ก่อให้เกิดการกระจายรายได้ให้แก่ ประชาชนในท้องถิ่นและแหล่งท่องเที่ยว</td>
        </tr>
    </thead>
    <tbody>
        {% comment %}
        {% for doc in data.sheet.0.questionnaire %}
        <tr>
            {% for answers in doc.get_list %}
            <td class="text-nowrap">{{ answers }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endcomment %}
        
        {% for doc in data %}
        <tr>
            {% for answers in doc.get_all_list %}
            <td class="text-nowrap">{{ answers }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
