<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- <a class="navbar-brand" href="{{ '/' }}">HVD</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% with url_name=request.resolver_match.url_name %}
            <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                <!-- <a class="nav-link" href="{{ '/' }}">Home</a> -->
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if url_name == 'top_experience' or url_name == 'top_exclusive' or url_name == 'top_expertise' or url_name == 'top_exceptional' or url_name == 'top_excellence' %}active{% endif %}" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Top Destinations</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <!-- <a class="dropdown-item {% if url_name == 'top_experience' %}active{% endif %}" href="{{ '/top_experience' }}">Top Experience</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'top_experience' %}active{% endif %}" href="{{ '/top_experience' }}">Top Experience</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'top_exclusive' %}active{% endif %}" href="{{ '/top_exclusive' }}">Top Exclusive</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'top_expertise' %}active{% endif %}" href="{{ '/top_expertise' }}">Top Expertise</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'top_exceptional' %}active{% endif %}" href="{{ '/top_exceptional' }}">Top Exceptional</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'top_excellence' %}active{% endif %}" href="{{ '/top_excellence' }}">Top Excellence</a> -->

                    <a class="dropdown-item {% if url_name == 'top_experience' %}active{% endif %}" href="{% url 'top_experience' %}">Top Experience</a>
                    <a class="dropdown-item {% if url_name == 'top_exclusive' %}active{% endif %}" href="{% url 'top_exclusive' %}">Top Exclusive</a>
                    <a class="dropdown-item {% if url_name == 'top_expertise' %}active{% endif %}" href="{% url 'top_expertise' %}">Top Expertise</a>
                    <a class="dropdown-item {% if url_name == 'top_exceptional' %}active{% endif %}" href="{% url 'top_exceptional' %}">Top Exceptional</a>
                    <a class="dropdown-item {% if url_name == 'top_excellence' %}active{% endif %}" href="{% url 'top_excellence' %}">Top Excellence</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if url_name == 'radar_individual_tourguide' or url_name == 'radar_individual_accommudation' or url_name == 'radar_individual_cultural' %}active{% endif %}" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assessment</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <!-- <a class="dropdown-item {% if url_name == 'radar_individual_cultural' %}active{% endif %}" href="{{ '/radar_individual_cultural' }}">Cultural Attraction</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'radar_individual_natural' %}active{% endif %} disabled" href="{{ '/radar_individual_natural' }}">Natural Attraction</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'radar_individual_recreational' %}active{% endif %} disabled" href="{{ '/radar_individual_recreational' }}">Recreational Attraction</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'radar_individual_accommudation' %}active{% endif %}" href="{{ '/radar_individual_accommudation' }}">Accommudation</a> -->
                    <!-- <a class="dropdown-item {% if url_name == 'radar_individual_tourguide' %}active{% endif %}" href="{{ '/radar_individual_tourguide' }}">Tour Guide</a> -->

                    <a class="dropdown-item {% if url_name == 'radar_individual_cultural' %}active{% endif %}" href="{% url 'radar_individual_cultural' %}">Cultural Attraction</a>
                    <a class="dropdown-item {% if url_name == 'radar_individual_natural' %}active{% endif %} disabled" href="{% url 'radar_individual_natural' %}">Natural Attraction</a>
                    <a class="dropdown-item {% if url_name == 'radar_individual_recreational' %}active{% endif %} disabled" href="{% url 'radar_individual_recreational' %}">Recreational Attraction</a>
                    <a class="dropdown-item {% if url_name == 'radar_individual_accommudation' %}active{% endif %}" href="{% url 'radar_individual_accommudation' %}">Accommudation</a>
                    <a class="dropdown-item {% if url_name == 'radar_individual_tourguide' %}active{% endif %}" href="{% url 'radar_individual_tourguide' %}">Tour Guide</a>
                </div>
            </li>
            <li class="nav-item {% if url_name == 'questionnaires' %}active{% endif %}">
                <a class="nav-link" href="#">Questionnaires</a>
            </li>
            <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
                <!-- <a class="nav-link" href="{{ '/about' }}">About</a> -->
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
                <!-- <a class="nav-link" href="{{ '/contact' }}">Contact</a> -->
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            {% endwith %}
        </ul>
        <a class="text-muted" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
    </div>
</nav>



