        <script>
            var options = {
                title: {
                    display: true,
                    text: 'High Value Destinations',
                    fontSize: 20
                  },
                legend: {
                    //display: true,
                    labels: {
                        //fontColor: 'rgb(255, 99, 132)',
                        fontSize: 18,
                     }
                },
                responsive: false,
                maintainAspectRatio: true,
                scale: {
                    pointLabels: {
                        fontSize: 16
                        },
                    ticks: {
                     //   beginAtZero: true,
                        max: 5,
                        min: 0,
                        stepSize: 0.5
                    }
                }
            };

            var dataLiteracy = {{ data_literacy|safe }};

            var ctx = document.getElementById('radar-chart');
            var myRadarChart = new Chart(ctx, {
                type: 'radar',
                data: dataLiteracy,
                options: options
            });
        </script>
