{% extends 'base.html' %}

{% load static %}

{% block title %}Radar Chart | {{ block.super   }}{% endblock title %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<div class="content">
    {% for canvase_name in canvase_names %}
    <canvas id="{{ canvase_name.name }}" width="800" height="600"></canvas>
    {% endfor %}
</div>

{% endblock %}

{% block js_extend %}
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>

    {% include 'includes/radarscript.html' %}
{% endblock %}
