{% load static %}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <title>{% block title %}High Value Destinations{% endblock %}</title>

        {% include 'includes/css.html' %}
        {% include 'includes/fonts.html' %}

        {% block css_extend %}{% endblock %}
    </head>

    <body>
        {% block body %}

        {% block header %}
        <div class="container-fluid">
            <div class="container h-100">
                {% include 'includes/nav.html' %}
                <!-- {% block breadcrumb %}{% endblock breadcrumb %} -->
            </div>

            {% block banner %}{% endblock banner %}
        </div>
        {% endblock header %}

        <main role="main" class="container">
            {% block content %}{% endblock content %}
        </main>

        {% include 'includes/footer.html' %}
        {% endblock body %}

        {% include 'includes/js.html' %}
        {% block js_extend %}{% endblock js_extend %}
    </body>
</html>
