{% extends 'base.html' %}

{% load static %}

{% block title %}Home | {{ block.super }}{% endblock title %}

{% block breadcrumb %}hvd -> home{% endblock breadcrumb %}

{% block header %}
{{ block.super }}
{% endblock header %}

{% block banner %}
    {% include 'includes/slides.html' %}
{% endblock banner %}

{% block content %}
<!-- Top Destinations -->
<center><h2>Top Destinations</h2></center><br/>
<div class="card-deck">
    <div class="card border border-0">
        <a href="{{ '/top_experience' }}"><img class="card-img-top" src="{% static 'img/destinations/top_experience.jpg' %}" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Top Experience</h5>
            <p class="card-text">Top Experience in Southern Thailand</p>
        </div>
    </div>
    <div class="card border border-0">
        <a href="{{ '/top_exclusive' }}"><img class="card-img-top" src="{% static 'img/destinations/top_exclusive.jpg' %}" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Top Exclusive</h5>
            <p class="card-text">Top Experience in Southern Thailand</p>
        </div>
    </div>
    <div class="card border border-0">
        <a href="{{ '/top_expertise' }}"><img class="card-img-top" src="{% static 'img/destinations/top_expertise.jpg' %}" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Top Expertise</h5>
            <p class="card-text">Top Experience in Southern Thailand</p>
        </div>
    </div>
    <div class="card border border-0">
        <a href="{{ '/top_exceptional' }}"><img class="card-img-top" src="{% static 'img/destinations/top_exceptional.jpg' %}" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Top Exceptional</h5>
            <p class="card-text">Top Experience in Southern Thailand</p>
        </div>
    </div>
    <div class="card">
        <a href="{{ '/top_excellence' }}"><img class="card-img-top" src="{% static 'img/destinations/top_excellence.jpg' %}" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Top Excellence</h5>
            <p class="card-text">Top Experience in Southern Thailand</p>
        </div>
    </div>
</div>
{% endblock %}
